# Python bytecode
*.pyc
*.pyo
__pycache__/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.swp

# Static and media files
/staticfiles/
/media/

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
**/migrations/*.py

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test output
*.test.xml
*.test.json
*.test.html

# MacOS specific
.DS_Store